.Post {
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  margin-bottom: 60px;
  margin-left: 20%;
  margin-right: 20%;
}

@media only screen and (min-width: 768px) {
  .Post {
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    margin-bottom: 60px;
    margin-left: 20%;
    margin-right: 20%;
    width: 400px;
  }

}

img#like {
  margin-top: 4px;
  margin-left: 4px;
  float: left;
}

p#likes {
  float: left;
  margin-top: 4px;
  /* margin-left: auto; */
}

@media only screen and (min-width: 445px) {

  .delete {
    margin-right: -62%;
}
}

@media only screen and (max-width: 445px) {

  .delete {
    margin-right: -45%;
}
}

.delete {
  flex: auto;
}
.Post-user {
  display: flex;
  padding: 16px;
  align-items: center;
}
.Post-user-avatar {
  width: 30px;
  height: 30px;
}
.Post-user-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.Post-user-nickname {
  margin-left: 12px;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}
.Post-image-bg {
  background-color: #efefef;
}
.Post-image img {
  display: block;
  width: 100%;
  height: 80%;
}
.Post-caption {
  padding: 16px 16px;
  margin-top: 5px;
  text-align: left;
}
.Post-caption strong {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}
.vjs-fade-out {
  display: none;
  visibility: hidden;
  opacity: 0;
}
